.navbar{
    background-color: #107E10;
    width:100%;
}
.home-page-image{
    width:100%;
}
.best{
    background-color:#915F6D;
}
.card{
    background-color:#ADDFFF;
}
.about-us{
    margin-top:40px;
    background-color:#E8ADAA;
}
